# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env

# Ignore datasets and large files
*.csv
*.mat
*.pth
*.png
# Ignore IDE settings
.vscode/
.idea/
model/data/
*.zip
model.zip


# Ignore OS files
.DS_Store
Thumbs.db
